:root {
	--bg: #fff;
	--transparent-bg: #fffe;
	--light-bg: #ddde;
	--fg: black;
	--tint: #0d8ba0;
	--tint2: #024;
	--highlight: #008288;
}

.dark {
	--bg: #111;
	--lightbg: #222;
	--fg: #eee;
	--tint: #eeffe0;
	--tint2: #cdf;
	--highlight: #afa;
}

@font-face { font-family: "Inter"; src: url("https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2") format("woff2"); font-style: normal; font-weight: 400; font-display: swap; unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

html {
	background-color: var(--bg);
	color: var(--fg);
	font-family: "normcore", sans-serif;
	padding: 1rem;
	font-family: "Inter", sans-serif;
	letter-spacing: -0.045rem;
	--scrollbar-width: 17px;
	/* background-image: url("./notebook.png"); */
}
body {
	max-width: 1300px;
	margin: auto;
}

/* headers */
h1, h2, h3 { 
	color: var(--tint);
	font-family: Lato;
	letter-spacing: 0;
}
h1, h2 {
	text-decoration: underline;
	padding-left: 2rem;
	font-weight: normal;
	/*font-style: italic;*/
}
header h2 { text-decoration: none; }
h3 { 
	text-decoration: underline;
	padding-left: 0.8rem;
}
header, nav {
	text-align: right;
}

/* links, etc */
nav, a {
	color: var(--highlight);
}
a article {
	color: var(--fg);
	text-decoration: none 0px;
}a:link article {
	color: var(--fg);
	text-decoration: none;
}

/* about section */

#about img {
	width: min(70%, 70vw);
	border-radius: 5%;
	margin-left: 1rem;
}
@media (min-width: 500px) {
	#about img {
		width: 300px
	}
}

/* projects */
#projects > a { 
	text-decoration: none;
}

article {
	max-width: 30rem;
	border: solid 2px var(--tint2);
	border-radius: 1rem;
	padding: min(2rem, 10%);
	transition: transform 0.3s cubic-bezier(.48,-0.25,.45,1.37), background-color 0.3s;
	background: var(--bg);
	margin: 0 auto 2rem auto;
}
article:hover {
	background-color: var(--bg);
	transform: scale(105%);
}
article img {
	width: 100%;
	max-width: 50vh;
	margin-left: max(50% - 25vh, 0%);
	border-radius: 1rem;
	border: solid 2px grey;
}

@media (min-width: 450px) {
	article { 
		columns: 2;
	}
	article img {
		width: 10rem;
	}
}

@media (max-width: 999px) {
	article.onscreen {
		animation: swoosh 0.3s;
	}
	@keyframes swoosh {
		from { transform: translateY(400px) }
		to { transform: translate(0) }
	}
}

/* desktop layout */
@media (min-width: 1000px) {
	header, #about {
		font-size: 1.4em;
	}
	#about img {
		width: 340px;
	}
	/* skytower */
	body {
		background-image: url(skytower.png);
		background-position: center 8rem;
		background-repeat: no-repeat;
		background-size: auto 800px;
		--half-body-width: min(50vw - 1rem - var(--scrollbar-width) / 2, 650px);
	}
	
	body > section:nth-of-type(1) {
		min-height: 640px;
	}
	body > section:nth-of-type(2) {
		background-image: url(skytowerpole.png);
		background-position: top;
		background-repeat: repeat-y;
		background-size: auto 800px;
		--half-skytower-pole-width: 47px;
	}
	#about img {
		float: right;
		margin-left: 30%;
	}
	
	/* projects on alternating sides */
	article {
		width: 35vw;
		--article-width: min(35vw, 30rem) + 2 * min(2rem, 10%) + 2 * 2px; /* width + padding + border */
	}
	article:nth-child(2n) {
		margin-left: 0;
	}
	article:nth-child(2n+1) {
		margin-right: 0;
	}
	
	/* projects slide in */
	article { 	
		--offset: calc( var(--half-body-width) - var(--half-skytower-pole-width) );
		--negative-offset: calc( var(--half-skytower-pole-width) - var(--half-body-width) );
		--negative-offset-plus-width: calc( var(--half-skytower-pole-width) - var(--half-body-width) + var(--article-width));
		animation-duration: 1s;
		animation-timing-function: cubic-bezier(.19,1,.22,1);
	}
	article.onscreen:nth-child(2n) {
		animation-name: slide-left;
	}
	article.onscreen:nth-child(2n+1) {
		animation-name: slide-right;
	}
	
	@keyframes slide-left {
		from {
			transform: translateX(var(--offset));
			clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
		}
		to {
			transform: translateX(0px);
			clip-path: polygon(0% 0%, 0% 100%, var(--offset) 100%, var(--offset) 0%);
		}
	}
	
	@keyframes slide-right {	
		from {
			transform: translateX(var(--negative-offset));
			clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
		}
		to {
			transform: translateX(0px); 	
			clip-path: polygon(var(--negative-offset-plus-width) 0%, var(--negative-offset-plus-width) 100%, 100% 100%, 100% 0%);
		}
	}
}	